*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width:100%;
    height:100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('./mediterranean-cuisine-gc744674e7_1280.jpg');
}

form{
    position: absolute;
    width:550px;
    height:500px;
    display: flex;
    margin-left: 390px;
    margin-top: 100px;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #fff;
    border: 2px solid transparent;
}

form input{
    background: transparent;
    border: none;
    font-size: 20px;
    border-radius: 30px;
}

form h1{
    text-align: center;
    color:red;
}

form button{
    position: absolute;
    color:#fff;
    font-size: 30px;
    background: green;
    width:100px;
    border-radius: 30px;
    height:50px;
    margin-top:440px;
    margin-left:190px;
}

@media only screen and (max-width:480px){
    form{
        position: absolute;
        width:300px;
        height: 550px;
        box-sizing: border-box;
        border: 2px solid rgba(0,0,0);
        left:-350px;
    }

    form textarea{
        width:250px;
        margin-left: 10px;
    }

    form h1{
        font-size: 20px;
        text-align: center;
    }

    form input{
        font-size: 15px;
    }

    form button{
        margin-left:80px;

    }
}