*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.footer{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('./italian-cuisine-g9292ac2a4_12805.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    background-position: relative;
}


.logo img{
    width:130px;
    display: flex;
}

nav{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2px 6px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    margin:20px;
}

nav .fa-solid{
    display: none;

}

.items{
    position: absolute;
    width: 90%;
}


.items h1{
    font-size: 72px;
    text-align: center;
    color:#fff;
    margin-top:400px;
    
}

.items-pic{
    position: absolute;
    display: flex;
   
}

.items-pic img{
    width:300px;
    height: 300px;
    
    margin-top: 270px;
    padding-left: 20px;
}


.items-pic img:hover{
    border: 2px solid transparent;
    box-sizing: border-box;
    box-shadow: grey;
}

.items-pic-heading-and-paragraph h1{
    text-align: center;
    display: flex;
    font-size: 45px;
    color:red;
    padding-left: 20px;
    width:90%;
}

.items-pic-heading-and-paragraph p{
    text-align: center;
    display: flex;
    font-size: 30px;
    color:yellow;
    padding-left: 20px;
    width:90%;
}

.items-pic-heading-and-paragraph a{
    padding-left: 30px;
    width:100px;
    height:50px;
    background: yellow;
    text-decoration: none;
    font-size: 30px;
    color:red;
    border: 2px solid yellow;
    border-radius: 30px;
}

@media only screen and (max-width:480px){
    .logo img{
        width:60px;
        position: absolute;
    }

    .footer{
        height:100vh;
    }


    .nav-links{
        width: 200px;
        height: 100vh;
        background: red;
        z-index: 2;
        top:0;
        right: -200px;
        position: absolute;
        transition: 0.5s;
    }

    .nav-links ul li{
        display: block;
        margin:20px;
    }

    .nav-links ul li a{
        color: white;
    }

    nav .fa-solid{
        display: block;
        color:rgba(0,0,0);
        margin:10px;
        cursor: pointer;
    }

    .items{
        position: absolute;
        width:90%;
    }

    .items h1{
        font-size: 36px;
        text-align: center;

    }

    .items-pic{
        position: absolute;
        width:90%;
        display: flex;
       
    }
    
    .items-pic img{
        width:100px;
        
        height: 100px;
        
        margin-top: 170px;
        padding-left: 20px;
    }
    
    .items-pic img:hover{
        border: 2px solid transparent;
        box-sizing: border-box;
        box-shadow: grey;
    }
    .items-pic-heading-and-paragraph h1{
        text-align: center;
        display: flex;
        font-size: 15px;
        color:red;
        padding-left: 35px;
    }
    
    .items-pic-heading-and-paragraph p{
        text-align: center;
        display: flex;
        font-size: 15px;
        color:yellow;
        padding-left: 35px;
        width:90%;
    }
    
    .items-pic-heading-and-paragraph a{
        padding-left: 35px;
        width:100px;
        height:50px;
        background: yellow;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        font-size: 15px;
        color:red;
        border: 2px solid yellow;
        border-radius: 30px;
    }
}